.navi{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#468F9D;
    padding: 15px 7%;
}
ul{
    flex: 1;
    list-style: none;
    text-align: center;
    color: white;
}
ul li{
    display: inline-block;
    margin: 10px 30px;
    font-size: 17px;
    cursor: pointer;
}
.Button{
    background-color: #8AC197;
    border-radius: 10px;
    padding: 10px 20px;
    color: white;
}